<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.Magento.TestRunner.MagentoAppTestRunner" />
			<class name="com.Magento.TestRunner.LoginSearchTestRunner" />
			<class name="com.Magento.TestRunner.CheckOutProcessTestRunner" />
			<class name="com.Magento.TestRunner.LoginValidAndInvalidCredentialsTestRunner" />
			<class name="com.Magento.TestRunner.AddingMultipleProductsToCartTestRunner" />
			<class name="com.Magento.TestRunner.LogOutVerifcationTestRunner" />
		</classes>
	</test> <!--
	Test -->
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>
</suite> <!--
Suite -->
